.accordion-section {
    padding-top: 100px;
    padding-bottom: 200px;
}

.accordion {
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 100px;
}

@media (max-width: 992px) {
    .accordion {
        padding-left: 10px;
        padding-right: 10px;
    }
  }

.accordion-button {
    font-size: 1.5rem;
}

.button-info {
    margin-top: 80px;
}

.accordion-button:active {
    color: $secondary;
}
