/* Footer */

  .footer-nav {
    background-color: #242946;
    color: white;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 5px;
  }

  footer a:hover,
  footer a:active,
  footer a:focus {
    color: $secondary !important;
    text-decoration: none;
  }

  @media (max-width: 992px) {
    .logo-footer {
      padding-top: 20px;
    }
    .social-icons {
      padding-top: 30px;
    }
    .nav-item {
      padding-top: 20px;
    }
  }
 

  .form-control {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
  }

  .form-text {
    font-size: 27px;
  }

  .form-subtext {
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .social {
    margin: 10px;
  }